/*>>>>>>>>>>================================= © 2013 ===================================<<<<<<<<<<*/
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/

/*
Version: Alpha v1;
Author: Bryan Littlefield;
License: GPL;
----------------------------


|===TABLE OF CONTENTS===|

I.................GLOBALS
II.........PAGE STRUCTURE
III..........PAGE STYLING
IV..........MEDIA QUERIES
V.................HELPERS

*/


/* [ I ] ----------------------->>>>>>> GLOBALS <<<<<<<-----------------------------
==================================================================================== */

/*      .---------------.
_______/   HTML & BODY   \____________________________________*/                                                         
    
html{
        background: #ffffff;
        font-size: 62.5%;
        -webkit-overflow-scrolling: touch;
        -webkit-tap-highlight-color: #f3f5f6;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    }

body{
        font-family: Verdana,Helevetica;
        font-size: 12px;
        color:#1B1B1B
    }

/*      .--------------.
________|  Selections  |______________________________________ */

::-moz-selection {background: #b3d4fc;text-shadow: none;}
::selection      {background: #b3d4fc;text-shadow: none;}

/*      .-----------.
________|  Headers  |__________________________________________ */

h1,h2,h3,h4 {margin: 0 0 10px 0;}

h1 {font-size: 35px;}
h2 {font-size: 25px;}
h3 {font-size: 20px;}
h4 {font-size: 15px;}

/*      .----------------------.
________|  Paragraph Elements  |________________________________ */

a,a:visited,a:hover,a:focus {color:#191919;text-decoration:none;}

p   {font-size: 12px;margin-bottom: 15px;color: #464646;}
em  {}
img {}

/*      .-------------------.
________|  Definition List  |___________________________________ */

dl {}
dt {}
dd {}

/*      .----------------.
________|  Ordered List  |______________________________________ */

ol {padding-left: 35px;}
ul {padding-left: 35px;}
li {}

/*      .---------.
________|  Forms  |_____________________________________________ */

fieldset                {border: 0;margin: 0;padding: 0;} 
legend                  {}
label                   {}
input                   {margin-bottom: 15px;}
input[type=text]        {}
input[type=password]    {}
input[type=checkbox]    {}
input[type=radio]       {}
input[type=submit]      {}       
textarea                {resize: vertical;}     
select                  {}           
optgroup                {}
option                  {}

/*      .----------.
________|  Tables  |____________________________________________ */

table   {}    
tr      {}
th      {}

/*      .--------------.
________|  Misc Stuff  |________________________________________ */

sup        {}
sub        {}
cite       {}
acronym    {}
abbr       {}
pre        {}
blockquote {}

hr {display: block;height: 1px;border: 0;border-top: 1px solid #ccc;margin: 1em 0;padding: 0;}


/* |=||=|=||=|=||=||=||=|=||=|=====|GRID|SYSTEM|=====|=|=||=|=||=|=||=||=||=|=||=||=|
====================================================================================

FORMULA FOR 100%        ==   .row>.wrapper>.col+.col1 (Emmet Compatible)
FORMULA FOR CONTAINED   ==   .wrapper>.row>.col+.col1 (Emmet Compatible)

==================================================================================== */

/*Wrapper*/
.wrapper                            { margin: 0 auto;max-width: 1024px;padding: 0 3%; }
.wrapper:before,.wrapper:after      { content: " ";display: table; }
.wrapper:after                      { clear: both; }


/*Rows*/
.row                                { width: 100%;}
.row:before,.row:after              { content: " ";display: table; }
.row:after                          { clear: both; }

/*Columns*/
.col                                { float:left;-webkit-transition: all .5s ease;-moz-transition: all .5s ease;-ms-transition: all .5s ease;-o-transition: all .5s ease;transition: all .5s ease; }
.col:before,.col:after              { content: " ";display: table; }
.col:after                          { clear: both; }

/*Blocks*/
.block                              { position: relative;transition: all .3s ease;}
.block img                          { width:100%;overflow:hidden;-moz-border-radius: 5px; border-radius: 5px;}
/*-------*/
.col-1                              { width: 100% }

.col-2                              { width: 47%;float:left;margin-right: 6%}
.col-2 + .col-2                     { margin-right: 0; }

.col-3                              { width: 31%;float:left;margin-right: 3.5%}
.col-3 + .col-3 + .col-3            { margin-right: 0; }

.col-4                              { width: 22.5%;float:left;margin-right: 3.3%}
.col-4 + .col-4 + .col-4 + .col-4   { margin-right: 0; }

.col-5                              { width: 17.5%;float:left;margin-right: 3%}
.col-5 + .col-5 + .col-5 + .col-5  + .col-5             
                                    { margin-right: 0; }

.col-6                              { width: 14%;float:left;margin-right: 3%}
.col-6 + .col-6 + .col-6 + .col-6+ .col-6+ .col-6 
                                    { margin-right: 0; }

/*Grid Extras*/                                    
.push-center                                { margin: 0 6%; }
.push-center:before,.push-center:after      { content: " ";display: table; }
.push-center:after                          { clear: both; }



/*Grid Example*/
.grid .block                            { min-height: 250px;background: #E0E0E0;text-shadow: 0 1px 0 #fff;transition: all 1s 1s 1s;border-radius: 8px; }
.grid .block span                       { text-align: center;vertical-align: middle;line-height: 250px;display: block;font-size:50px;font-size: 110px;font-weight: bold;color: #727272; }
.grid .row                              { margin: 40px 0; }
.grid .noise:before                     { border-radius: 8px; }
.grid .block:before, .block:after       { z-index: -1; position: absolute; content: ""; bottom: 15px; left: 10px; width: 50%; top: 80%; max-width: 300px; background: rgba(0, 0, 0, 0.7); -webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.7); -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7); box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7); -webkit-transform: rotate(-3deg); -moz-transform: rotate(-3deg); -o-transform: rotate(-3deg); -ms-transform: rotate(-3deg); transform: rotate(-3deg); }
.grid .block:after                      { -webkit-transform: rotate(3deg); -moz-transform: rotate(3deg); -o-transform: rotate(3deg); -ms-transform: rotate(3deg); transform: rotate(3deg); right: 10px; left: auto; clear: both; } 




/* ----------------------->>>>>>> PAGE STRUCTURE <<<<<<<----------------------------
==================================================================================== */

/*      .----------.
________|  Header  |__________________________________________*/

header              {  }
nav                 {  }

/*      .-----------.
________|  Content  |__________________________________________*/

section             {  }
article             {  }
aside               {  }

/*      .----------.
________|  Footer  |__________________________________________*/

footer              {  }


/* ------------------------>>>>>>> HELPER CLASSES <<<<<<<---------------------------
==================================================================================== */

/*Noise*/
.noise {position: relative;z-index: 1;}
.noise:before {content: "";position: absolute;z-index: -1;top:0;bottom:0;left:0;right:0;background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);}

/*Image replacement*/
.ir {background-color: transparent;border: 0;overflow: hidden;}
.ir:before {content: "";display: block;width: 0;height: 100%;}

/*Hide from both screenreaders and browsers*/
.hidden {display: none !important;visibility: hidden;}

/*Clearfix*/
.cf:before,.cf:after {content: " ";display: table;}
.cf:after {clear: both;}

.f-l            {float:left}
.f-r            {float:right}
.a-l            {float:left; margin: 0 15px 0 0}
.a-r            {float:right; margin: 0 0 0 15px}
.clear          {clear:both}
.center         {display: table;width: 100%;height: 100%;}
.center span    {display: table-cell; vertical-align: middle; text-align: center;}
.margins        {margin:15px}
.push-t         {margin-top:15px}
.push-r         {margin-right:15px}
.push-b         {margin-bottom:15px}
.push-l         {margin-left:15px}
.border         {border:10px solid #eee}
.text-l         {text-align:left}
.text-r         {text-align:right}
.text-c         {text-align:center}
.text-j         {text-align:justify}
.underline      {text-decoration:underline}
.highlight      {background-color:#ffc}

/* 
====================================================================================
------------------------------>>>>>>> MEDIA QUERIES <<<<<<<-------------------------
==================================================================================== */

/* Smartphones (portrait and landscape)*/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape)*/
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait)*/
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape)*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape)*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait)*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops*/
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens*/
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4,5*/
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}


/*Break for All Handheld Devices*/
@media all and (max-width: 850px)    { 

    /*Structure*/
    .col { float:none !important; width:100% !important;margin: 20px 0;}
    .wrapper { padding: 0 5%; }

    /*Font-Sizes*/

    h1 {font-size: 40px;margin-bottom: 30px;}
    h2 {font-size: 30px;margin-bottom: 25px;}
    h3 {font-size: 25px;}
    h4 {font-size: 20px;}
    h5 {font-size: 35px;}
    h6 {font-size: 16px;}
}

/* 
====================================================================================
--------------------------------->>>>>>> PRINT <<<<<<<------------------------------
==================================================================================== */

@media print {
    *                                   { background: transparent !important; color: #000 !important; /* Black prints faster: h5bp.com/s */; box-shadow: none !important; text-shadow: none !important; }
    a, a:visited                        { text-decoration: underline }
    a[href]:after                       { content: " (" attr(href) ")" }
    abbr[title]:after                   { content: " (" attr(title) ")" }
    pre, blockquote                     { border: 1px solid #999; page-break-inside: avoid; }
    thead                               { display: table-header-group; }
    tr, img                             { page-break-inside: avoid }
    img                                 { max-width: 100% !important }
    @page                               { margin: 0.5cm }
    p, h2, h3                           { orphans: 3; widows: 3; }
    h2, h3                              { page-break-after: avoid }

    /*Don't show links for images, or javascript/internal links*/
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after  { content: "" }

/*--------------------------------------------------------------------------------*/
/* >>>>>>>>>>================= Peeled Style Sheet © 2013 =================<<<<<<<<<<*/ 